.img {
    height: 70vh;
    position: absolute;
    z-index: 0;
}

.text {
    position: absolute;
    z-index: 10 !important;
    font-family: 'SushiSans';
    font-size: 5.8vw;
    left: 3.5vw;
    top: -5vh;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
}

.header span {
    width: 100vw;
    height: 0.6vh;
    background-color: black;
    display: inline-block;
    margin-top: 18vh;
}

.header > section {
    margin-left: 0vw;
    width: 100vw;
    border-bottom: 0.4vw solid black;
    height: 18vh;
    display: flex;
    align-items: flex-end;
    z-index: -1 !important;
    /* position: fixed; */
}

.header > section > article {
    margin-left: 48vw;
}

.header > section > *::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
 left: 0;
 height: 100%;
 width: 8vw;
    margin-left: 5vw;
    background-color: white;
 border-right: 0.2vw solid black;
    -webkit-transform: skewX(18deg);
    -moz-transform: skewX(18deg);
    -ms-transform: skewX(18deg);
    transform: skewX(18deg);
 border-top: 0.2vw solid black;
    border-top-right-radius: 1.5vw;
}

.header > section > *::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
 left: 0;
    height: 100%;
    width: 6vw;
    background-color: white;
    border-left: 0.2vw solid black;
    -webkit-transform: skewX(-18deg);
    -moz-transform: skewX(-18deg);
    -ms-transform: skewX(-18deg);
    transform: skewX(-18deg);
 border-top: 0.2vw solid black;
    border-top-left-radius: 1.5vw;
}


.header > section > * {
    /* height: 7vh; */
    /* background-color: black; */
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */

    position: relative;
    display: inline-block;

    width: 13vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.4vh;
}

/* .header > section > div {
    margin-left: -2vw;
    z-index: -1;
} */

.header p {
    color: black;
    font-family: 'SushiSans';
    font-size: 2vw;
    margin: 0px;
    margin-top: 1vh;
}

.header article:hover, .header div:hover, .header p:hover {
    opacity: 0.98;
    cursor: pointer;
}

.selected {
    z-index: 10;
}

.selected::before {
    background-color: black !important;
}

.selected::after {
    background-color: black !important;
}

.selected p {
    color: white;
}

.lowest {
    z-index: 1 !important;
}

.highest {
    z-index: 2!important;
}