.title {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 17vh;
    text-transform: uppercase;
    font-family: "SushiSans";
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title div {
    z-index: 30 !important;
}

.title div:hover {
    opacity: 0.9 !important;
    cursor: pointer !important;
}

.back {
    height: 1.5vw;
    width: 1.5vw;
    margin-right: 2vw;
}

.back:hover {
    opacity: 0.8;
    cursor: pointer;
}

.pageSelector {
    height: 100vh;
    width: 5vw;
    background-color: black;   
    padding-top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pageSelector p {
    color: white;
    font-family: 'Mohave';
    font-size: 1.8vw;
    background-color: #56CBF9;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-right: 0.1vw;
    padding-top: 0.2vh;
    margin-top: 1.3vh;
    margin-bottom: 1.3vh;
}

.pageSelector svg {
    margin-top: 1vh;
}

.pageSelector * {
    z-index: 99 !important;
}

.pageSelector *:hover {
    opacity: 0.7 !important;
    cursor: pointer;
}