.page {
    position: absolute;
    top: 32vh;
    left: 10vw;
    height: 68vh;
    width: 90vw;
    overflow-x: visible;
    overflow-y: visible;
}

.page h1 {
    font-family: "SushiSans";
    text-transform: uppercase;
    color: #4F4F4F;
    font-size: 2.5vw;
}

.page > section {
    /* background-color: gray; */
    height: 52vh;
    width: 60vw;
    margin-top: -4vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.page > article {
    height: 78vh;
    position: absolute;
    right: 0px;
    top: -10vh;
    width: 60vw;
    overflow: hidden;
}

.page .black {
    height: 100vh;
    width: 35vw;
    background-color: black;
    transform: rotate(-11deg);
    right: -5vw;
    position: absolute;
    top: 5.5vh;
    z-index: 2;
}

.page .grey {
    height: 100vh;
    width: 35vw;
    background-color: #4F4F4F;
    transform: rotate(-20deg);
    right: 0vw;
    position: absolute;
    top: 8vh;
    z-index: 1;
}

.page > p {
    position: absolute;
    bottom: -2vh;
    left: -4vw;
    font-family: 'Mohave';
    color: #4F4F4F;
    font-size: 1.6vw;
    font-weight: bolder;
    text-transform: uppercase;
}

.page .sections {
    overflow: scroll;
    max-height: 51vh;
}

.page .sections article {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    margin-top: 1vh;
}

.page .sections article:hover {
    opacity: 0.8;
    cursor: pointer;
}

.page .sections article p {
    color: #56CBF9;
    font-family: "SushiSans";
    font-size: 1.4vw;
    padding-top: 0.5vh;
    margin-left: 0.4vw;
}

.page .sections article svg {
    width: 1.3vw;
    height: 1.3vw;
}

.page .section {
    width: 45vw !important;
    display: flex;
    flex-direction: column;
    height: auto !important;
}

.page .section > div{
    display: flex;
    justify-content: flex-start !important;
    width: 45vw !important;
    align-items: center !important;
    height: 7vh;
}

.page .section svg {
    height: 1.2vw !important;
    width: 1.2vw !important;
    margin-bottom: 0.4vh;
    transform: rotate(-90deg);
}

.page .section svg:hover {
    opacity: 0.8 !important;
    cursor: pointer;
}

.page .section h6 {
    text-transform: uppercase;
    font-family: 'SushiSans';
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 0.7vw;
}

.page .section h4 {
    font-family: 'Mohave';
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 0.4vw;
    color: #4F4F4F;
}

.page .section > div div {
    display: grid;
    grid-template-columns: repeat(2, 1.2vw);
    row-gap: 1.2vh;
    margin-left: 1vw;
}

.page .section div div div {
    height: 0.8vw;
    width: 0.8vw;
    border: black solid 0.08vw;
    border-radius: 50%;
}

.page .section div:hover {
    opacity: 1 !important;
    cursor: auto !important;
}

.selected {
    transform: rotate(0deg) !important;
}

.components {
    height: auto !important;
    width: 43vw;
    margin-left: 4vw !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.components h1 {
    color: black;
    font-family: "SushiSans";
    font-size: 1.3vw;
    margin: 0px;
}

.components section {
    display: flex;
    align-items: center !important;
    margin-bottom: 2.5vh;
}

.components p {
    font-size: 1.3vw !important;
    color: #4F4F4F !important;
    margin: 0px !important;
    padding: 0px !important;
    font-family: "Mohave" !important;
    margin-left: 1vw !important;
    z-index: 40 !important;
}

.components p:hover {
    opacity: 0.9 !important;
    cursor:  pointer !important;
}